.ticket {
    margin: auto;
    float: left;
    width: 335px;
    position: relative;
    margin-left: 20px;
    height: 320px;
    margin-top: 20px;
    border: 2px solid black;
}

.summaryElement {
    margin-right: 70px;
    padding: 1em;
    font-size: 23px;
    overflow: hidden;
    line-height: 23px;
    height: 200px;
}

.sidebarSideElement {
    text-align: center;
    width: 70px;
    height: 267px;
    clear: both;
    top: 52px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tagElement {
    width: 70px;
    height: 20px;
    margin-top: 180px;
    padding: 1em;
    font-size: 23px;
    position: absolute;
}

.titleElement {
    text-align: center;
    float: left;
    outline: 2px solid black;
    vertical-align: middle;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    display: inline-block;
}

.jiraElement {
    font-size: 80%;
    font-weight: bolder;
    float: left;
}

.color .jiraElement {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-print-color-adjust: exact;
}

.titleRow {
    height: 50px;
}

.page {
    page-break-before: always;
    clear: both;
}

.color .Bug {
    background-color: #c00;
    color: white;
}

.color .Documentation {
    background-color: #ffd600;
    color: white;
}

.color .Improvement {
    background-color: #090;
    color: white;
}

.color .Story {
    background-color: #090;
    color: white;
}

.color .Task {
    background-color: #bfe4ff;
    color: black;
}

.color .Technical_task {
    background-color: #099;
    color: white;
}


