.page {
	page-break-before: always;
	clear: both;
}

.project {
	line-height: 18px;
}

.number {
	font-size: 250%;
}

select {
	display: block;
}

.ticket {
	background-color: white;
	margin: auto;
	float: left;
	width: 335px;
	position: relative;
	margin-left: 20px;
	height: 320px;
	margin-top: 20px;
	border: 2px solid black;
}

.epic {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    -webkit-print-color-adjust: exact;
}
/* row and column */

.titleRow {
	height: 50px;
}

.sidebar {
	text-align: center;
	width: 70px;
	height: 267px;
	clear: both;
	top: 52px;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* colors */

.color .key {

    -webkit-print-color-adjust: exact;
}

.color.Epic .key {
    background-color: #ff4500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

.color.Bug .key {
    background-color: #c00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

.color.Documentation .key {
	background-color: #ffd600;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.color.Improvement .key {
	background-color: #090;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.color.Story .key {
	background-color: #909;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.color.Task .key {
	background-color: #bfe4ff;
	color: black;
}

.color.Technical_task .key {
	background-color: #099;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

.color.Change_Request .key {
    background-color: #ff5d9a;
    color: black;
}

.color.Front_End .key {
    background-color: #6c3;
}

/* parts of the card */

.titleElement {
	text-align: center;
	float: left;
	outline: 2px solid black;
	vertical-align: middle;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	display: inline-block;
}

.titleElement.multiline {
	line-height: 25px;
}

.key {
	font-size: 80%;
	font-weight: bolder;
	float: left;
	width: 35%;
	line-height: 25px;
}

.estimate {
	width: 15%;
}

.estimate-number {
	font-size: 250%;
	font-weight: bold;
}
.actual {
	width: 15%;
}

.owner {
	width: 35%;
}

.Doc, .Demo, .Review, .Rel_Note, .Wiki, .PO_Approval, .ACs{
	width: 100%;
	height: 60px;
}

.qrcode {
	width: 100%;
	height: 88px;
}

.qrcode img {
	margin-top: 20px;
	width: 50px;
	height: 50px;
}

.summaryElement {
	margin-right: 70px;
	padding: 1em;
	font-size: 23px;
	overflow: hidden;
	line-height: 23px;
	height: 200px;
}

.parentSummary, .component {
	font-weight: bolder;
	display: block;
	padding-bottom: 1em;
}

.tag {
	width: 70px;
	height: 20px;
	margin-top: 200px;
	padding: 1em;
	font-size: 23px;
	position: absolute;
}

.businessvalue {
	width: 20px;
	height: 20px;
	margin-top: 200px;
	margin-left: 194px;
	padding: 1em;
	font-size: 23px;
	position: absolute;
	-webkit-print-color-adjust: exact;
}

.businessvalue.cat1 {
	background-color: #abda0a;
}

.businessvalue.cat2 {
	background-color: #dad99d;
}

.businessvalue.cat3 {
	background-color: #f36d1a;
}

.businessvalue.cat4 {
	background-color: #18a7da;
}

.businessvalue.cat5 {
	background-color: #19da12;
}

.businessvalue.cat6 {
	background-color:#DA205B;
}
