.page {
    page-break-before: always;
    clear: both;
}

.ticket {
    margin: auto;
    float: left;
    width: 335px;
    position: relative;
    margin-left: 20px;
    height: 320px;
    margin-top: 20px;
    border: 2px solid black;
}

/* row and column */

.titleRow {
    height: 50px;
}

.sidebar {
    text-align: center;
    width: 70px;
    height: 267px;
    clear: both;
    top: 52px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* colors */

.color .issueId {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-print-color-adjust: exact;
}

.color.Bug .issueId {
    background-color: #c00;
    color: white;
}

.color.Documentation .issueId {
    background-color: #ffd600;
    color: white;
}

.color.Improvement .issueId {
    background-color: #090;
    color: white;
}

.color.Story .issueId {
    background-color: #090;
    color: white;
}

.color.Task .issueId {
    background-color: #bfe4ff;
    color: black;
}

.color.Technical_Task .issueId {
    background-color: #099;
    color: white;
}

/* parts of the card */

.titleElement {
    text-align: center;
    float: left;
    outline: 2px solid black;
    vertical-align: middle;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    display: inline-block;
}

.titleElement.multiline {
    line-height: 25px;
}

.issueId {
    font-size: 80%;
    font-weight: bolder;
    float: left;
    width: 35%;
    line-height: 25px;
}

.estimate {
    width: 15%;
    line-height: 25px;
}

.actual {
    width: 15%;
}

.owner {
    width: 35%;
}

.doc, .demo, .review {
    width: 100%;
    height: 60px;
}

.qrcode {
    width: 100%;
    height: 88px;
}

.qrcode img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.summaryElement {
    margin-right: 70px;
    padding: 1em;
    font-size: 23px;
    overflow: hidden;
    line-height: 23px;
    height: 200px;
}

.parentSummary, .component {
    font-weight: bolder;
    display: block;
    padding-bottom: 1em;
}

.tag {
    width: 70px;
    height: 20px;
    margin-top: 180px;
    padding: 1em;
    font-size: 23px;
    position: absolute;
}